<div class="card employee-card">
    <div class="card-header">
        <h2 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ name }}</h2>
        <h3 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><i class="fas fa-mug-hot mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body" style="background-color: rgba(214, 41, 18, 0.829);">
        <ul class="list-group">
            <li class="list-group-item" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(204, 124, 49);">ID: {{ id }}</li>
            <li class="list-group-item" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(204, 124, 49);">Email: <a href="mailto:{{ email }}" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(56, 166, 180);">{{ email }}</a></li>
            <li class="list-group-item" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(204, 124, 49);">Office number: {{ officeNumber }}</li>
        </ul>
    </div>
</div>
